.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
}

.h1 {
    margin-top: 0;
    margin-bottom: 10px;
}